
<div  class="container">
  <div class="row">
    <div class="col userList">
      User List 
    </div>
  </div>
  <div class="row text-right">
    <div class="col">
      <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#addUserToGroup">Create Group</button>
      <button *ngIf="tempUserIdList.length" type="button" class="btn btn-outline-danger" (click)="unSelectUsers()">Unselect All Users</button>
    </div>
  </div>
<div class="row row-cols-1 row-cols-md-5">
  <div class="col mb-4" *ngFor="let user of userList">
    <div class="card">
      <img src='{{user.Image}}' class="card-img-top" alt='{{user.name}}' height="130px">
      <div class="card-body text-center">
        <p class="card-title">{{user.name}}</p>
        <p class="card-text">{{user.id}}</p>
        <input type="checkbox" class="text-center" [checked]="user.isChecked" (click)="selectAndUnslectUserId(user.id)">
      </div>
    </div>
  </div>
</div>
</div>
<div *ngFor="let groupUserData of groupData">
  <app-user-group [groupData]='groupUserData' [userList]='userList'></app-user-group>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div *ngIf="tempUserIdList.length"  class="modal fade" id="addUserToGroup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Let's Create User Group</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="alertIfInfoMiss" class="alert alert-secondary" role="alert">
        A simple secondary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="exampleFormControlInput1">Group Name {{groupName}}</label>
            <input type="text" name="gn" [(ngModel)]="groupName" class="form-control" id="exampleFormControlInput1" placeholder="Group Name">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Group Description</label>
            <textarea class="form-control" [(ngModel)]="groupDescription" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="createGroup()">Create Group</button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>